## Delta table Column Mapping

In [1]:
# Create Spark Session with Delta JARS and conf

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Delta table with Column Mapping") \
    .config('spark.jars.packages', 'io.delta:delta-core_2.12:2.1.1') \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config(
        "spark.sql.catalog.spark_catalog",
        "org.apache.spark.sql.delta.catalog.DeltaCatalog",
    ) \
    .config("spark.sql.warehouse.dir", "spark-warehouse") \
    .master("local[*]") \
    .enableHiveSupport() \
    .getOrCreate()

spark

In [2]:
# pip install sparksql-magic
# Run below command to enable sparksql
%load_ext sparksql_magic

In [97]:
%%sparksql

create table sales_delta_mapping
using delta
as
select * from sales_managed;

In [98]:
%%sparksql

describe sales_delta_mapping

In [12]:
%%sparksql

alter table sales_delta_mapping rename column amount to total_amount;

AnalysisException: Column rename is not supported for your Delta table.
Please upgrade your Delta table to reader version 2 and writer version 5
and change the column mapping mode to 'name' mapping. You can use the following command:

ALTER TABLE <table_name> SET TBLPROPERTIES (
   'delta.columnMapping.mode' = 'name',
   'delta.minReaderVersion' = '2',
   'delta.minWriterVersion' = '5')

In [73]:
%%sparksql

ALTER TABLE sales_delta_mapping SET TBLPROPERTIES (
   'delta.columnMapping.mode' = 'name',
   'delta.minReaderVersion' = '2',
   'delta.minWriterVersion' = '5')
;

In [75]:
%%sparksql

alter table sales_delta_mapping rename column amount to total_amount;

In [84]:
%%sparksql

describe sales_delta_mapping

In [99]:
%%sparksql

select * from sales_delta_mapping limit 10;

In [78]:
# Create a dataset with old name "amount"
_data = [
    ["2022-11-19T21:00:00.000Z", "0000", "10001", "Test data for rename", "100.00", "111"]
]

# Schema with old name
_schema = ["transacted_at", "trx_id", "retailer_id", "description", "total_amount", "city_id"]

old_df = spark.createDataFrame(data=_data, schema=_schema)
old_df.printSchema()
old_df.show()

root
 |-- transacted_at: string (nullable = true)
 |-- trx_id: string (nullable = true)
 |-- retailer_id: string (nullable = true)
 |-- description: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- city_id: string (nullable = true)

+--------------------+------+-----------+--------------------+------------+-------+
|       transacted_at|trx_id|retailer_id|         description|total_amount|city_id|
+--------------------+------+-----------+--------------------+------------+-------+
|2022-11-19T21:00:...|  0000|      10001|Test data for rename|      100.00|    111|
+--------------------+------+-----------+--------------------+------------+-------+

In [79]:
# Lets write the data into the delta table

old_df.write.format('delta').mode("append").saveAsTable("sales_delta_mapping")

In [80]:
%%sparksql

select * from sales_delta_mapping where city_id = '111';

In [85]:
%%sparksql

describe history sales_delta_mapping;

In [86]:
%%sparksql

alter table sales_delta_mapping drop column description;

In [87]:
%%sparksql

describe history sales_delta_mapping;

In [88]:
%%sparksql

select * from sales_delta_mapping where city_id = '111';

In [91]:
# Renaming column with underlying data

spark.read.table("sales_delta_mapping") \
    .withColumnRenamed("trx_id", "transaction_id") \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .option("overwriteSchema", "true") \
    .saveAsTable("sales_delta_mapping")

In [92]:
%%sparksql

select * from sales_delta_mapping where city_id = '111';

In [93]:
# Dropping column with underlying data

spark.read.table("sales_delta_mapping") \
    .drop("transaction_id") \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .option("overwriteSchema", "true") \
    .saveAsTable("sales_delta_mapping")

In [94]:
%%sparksql

select * from sales_delta_mapping where city_id = '111';

In [96]:
%%sparksql

drop table sales_delta_mapping